@import './settings.module.scss';

.overlay{
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
}

.modal {
  position: fixed;
  overflow: hidden;
  inset: 0;
  width: full;
  height: 60vh;
  outline: none;
  display: flex;
  flex-direction: column;

  * {
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 320px) {
    height: stretch;
  }

  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    translate: -50% -50%;

    @media screen and (max-width: 320px) {
      width: stretch;
      height: stretch;
      top: 0;
      left: 0;
      translate: 0;
    }
    
    .form {
      border: 1px solid #E5E5E5;
      border-radius: 1rem;
      padding: 2rem;
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      background-color: #FFFFFF;
      filter: drop-shadow(0 24px 8px rgba(0, 0, 0, 0.18));

      @media screen and (max-width: 320px) {
        width: stretch;
        height: stretch;
        border: none;
        border-radius: 0;
        justify-content: flex-start;
      }

      .header {
        font-size: 1.5rem;
        font-weight: 500;
      }
      
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;

        span {
          font-size: 1rem;
          font-weight: 400;
        }

        input {
          width: stretch;
          padding: 1rem;
          border-radius: .5rem;
          border: 1px solid #E5E5E5;
          outline: none;
        }
      }

      .buttons {
        display: flex;
        gap: .5rem;

        @media screen and (max-width: 320px) {
          flex-direction: column-reverse;
          gap: 1rem;
        }

        .botaoCancelar {
          width: 100%;
          padding: 1rem .5rem;
          border-radius: .5rem;
          border: none;
          font-size: 1rem;
          font-weight: 400;
          background-color: #E7EEFB;
        }

        .botaoAdicionar {
          width: 100%;
          padding: 1rem .5rem;
          border-radius: .5rem;
          border: none;
          font-size: 1rem;
          font-weight: 500;
          color: #FFFFFF;
          background: linear-gradient(90deg, rgba(7,150,211,1) 0%, rgba(83,192,240,1) 100%);
        }
      }
    }
  }
}

.btn_trigger {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 1.5rem !important;
  width: 100%;
  border-radius: .5rem;
  border: none;
  background: linear-gradient(90deg, rgba(7,150,211,1) 0%, rgba(83,192,240,1) 100%);
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}