@import './settings.module.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 1.5rem;

  .welcome {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .date {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.54;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  
    button {
      padding: 1rem 1.5rem;
      width: 100%;
      border-radius: .5rem;
      border: none;
      background: rgb(7,150,211);
      background: linear-gradient(90deg, rgba(7,150,211,1) 0%, rgba(83,192,240,1) 100%);
      font-size: 1rem;
      font-weight: 500;
      color: #ffffff;
    }
    
    .card {
      padding: 2rem;
      border: 1px solid #E5E5E5;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
  
      .taskDivision {
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.54;
      }
  
      .task {
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 8rem;
        border: 1px dashed #E5E5E5;
        border-radius: .5rem;
  
        .title {
          display: flex;
          gap: .5rem;
          
          p {
            margin: 0;
          }
        }

        .icon {
          color: #D7DDE9;
          opacity: 0.54;
        }

        &:hover {
          background-color: #F7F9FD;
          cursor: pointer;
        }
      }
    }
  }
}