@import './settings.module.scss';

.home {
  * {
    margin: 0;
    padding: 0;
  }

  @media (max-width: 320px) {
    width: fill;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 1.5rem;
  
    .welcome {
      font-size: 1.5rem;
      font-weight: 500;
    }

    @media screen {
      @media (max-width: 320px) {
        flex-direction: column;
        align-items: start;

        .welcome {
          font-size: 1rem;
        }
      }
    }

    .date {
      font-size: 1rem;
      font-weight: 400;
      opacity: 0.54;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      
      .card {
        padding: 2rem;
        border: 1px solid #E5E5E5;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 1rem;
        max-width: 450px;
    
        .taskDivision {
          font-size: 1rem;
          font-weight: 400;
          opacity: 0.54;
        }
    
        .task {
          padding: 1rem;
          display: flex;
          align-items: center;
          gap: 8rem;
          justify-content: space-between;
          border: 1px dashed #E5E5E5;
          border-radius: .5rem;
          width: fill;

          @media screen and (max-width: 320px) {
              gap: 1rem;   
          }
    
          .title {
            display: flex;
            gap: .5rem;
            font-size: 1rem;
            font-weight: 400;
          }
  
          input[type="checkbox"]:checked + p{
            text-decoration: line-through;
          }
  
          &:hover {
            background-color: #F7F9FD;
            cursor: pointer;
          }
        }
      }
    }
  }
}